* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: 	slategray;
    color: white;
}

body {
    background-color: black;
}

h1 {
    display: block;
    font-family: 'Merriweather', serif;
    color: white;
}

h2, h3, h4, h5, p, a, header {
    font-family: 'STIX Two Math', serif;
    color: white;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

.projects {
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    max-width: 800px;  
    margin: auto;
}

.projects header {
    padding: 20px;
    background-color: slategray;
    color: white;
    max-width: 900px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects img {
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    text-align: center;
}

