* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: 	slategray;
    color: white;
}

body {
    background-color: black;
}

h1 {
    display: block;
    font-family: 'Merriweather', serif;
    color: white;
}

h2, h3, h4, h5, p, a, header {
    font-family: 'STIX Two Math', serif;
    color: white;
    text-align: center;
}

